---
import Layout from "@/layouts/Base";
import { LOCALES, useTranslations, type Lang } from "@/i18n";
const t = useTranslations(Astro.currentLocale as Lang);

/* import heroImageEs from "@/assets/images/home/mariposa.png";
import heroImageEn from "@/assets/en/hero.svg";
import heroImageptBR from "@/assets/images/home/mariposa.png"; */

// Images

import Mariposa from "@/assets/images/logo/logo.svg";
import DescilatamLogo from "@/assets/images/logo/descilatam.svg";
import Astronauta from "@/assets/images/home/astronauta.png";
import Pes from "@/assets/images/home/pes.png";
import Ciencia from "@/assets/images/home/cientifica.png";
import Caos from "@/assets/images/home/caos.png";

import { Image } from "astro:assets";
/* 
import { cn } from "@/lib/utils";
import { buttonVariants } from "@/components/ui/button";
import { Icon } from "astro-icon/components"; */

/* import { getRelativeLocaleUrl } from "astro:i18n"; */
/* const locale = Astro.currentLocale as Lang; */

export const getStaticPaths = () =>
  Object.keys(LOCALES).map((lang) => ({
    params: { lang },
  }));

const supporters = [
  { name: "Gitcoin", logo: "/path/to/gitcoin-logo.png" },
  { name: "Giveth", logo: "/path/to/giveth-logo.png" },
  { name: "Octant", logo: "/path/to/octant-logo.png" },
  { name: "AuraSci", logo: "/path/to/aurasci-logo.png" },
];
---

<Layout>
  <!--   {
    locale === "es" ? (
      <Image src={heroImageEs} alt="こんにちは" />
    ) : locale === "pt" ? (
      <Image src={heroImageptBR} alt="你好" />
    )   :  (
      <Image src={heroImageEn} alt="Hello" />
    )
  } -->

  <section class="space-y-6 pt-16 lg:py-28 flex justify-center bg-lightblue">
    <div
      class="container flex flex-wrap-reverse justify-center lg:flex-nowrap gap-5 bg-darkblue p-4 rounded-xl"
    >
      <div class="pt-8 w-1/2">
        <h1
          class="font-heading font-bold text-whitelight text-4xl font-red sm:text-5xl md:text-6xl lg:text-5xl !leading-[1.1] text-balance"
        >
          {
            t({
              es: "Conectando científicos con blockchain",
              en: "At the heart of scientific evolution",
              pt: "No coração da evolução científica",
            })
          }
        </h1>
        <p
          class="max-w-[42rem] leading-normal text-lg md:text-2xl font-parraf text-muted-foreground sm:text-xl sm:leading-8 text-balance pb-[1.5rem]"
        >
          {
            t({
              es: "Nuestro propósito es impulsar los principios de la descentralización para construir un ecosistema científico colaborativo y accesible para todos en américa latina",
              en: "Our purpose is to promote the principles of decentralization to build a collaborative and accessible scientific ecosystem for everyone in Latin America.",
              pt: "Nosso propósito é impulsionar os princípios da descentralização para construir um ecossistema científico colaborativo e acessível para todos na América Latina.",
            })
          }
        </p>
        <div class="flex w-1/2">
          <!--   <a
        href="https://www.youtube.com/@descilatam/"
        class={cn(buttonVariants({ variant: "default", size: "lg" }))}
        target="_blank"
      >
        Miranos en <Icon name="youtube" class="ml-2 size-4" />
      </a>
        <a
        href="https://x.com/descilatam"
        class={cn(buttonVariants({ variant: "outline", size: "lg" }))}
        target="_blank"
      > -->
          <!--    Seguinos en <Icon name="twitter" class="ml-2 size-4" /> -->
        </div>
      </div>
      
      <div class="w-1/2 flex justify-center items-center text-white"><Image class="w-[250px] text-white" src={DescilatamLogo} alt="DeSci LATAM" /></div>
    </div>
    
  </section>
</Layout>

<section>
  <div class="container mx-auto px-4">
    <h2 class="text-4xl font-bold text-center mb-4">Nuestros Aliados</h2>
    <p class="text-center mb-8 max-w-2xl text-xl mx-auto">
      Agradecemos a estas organizaciones visionarias por su apoyo en nuestra
      misión de impulsar la ciencia descentralizada en Latinoamérica.
    </p>
    <div class="flex flex-wrap justify-center items-center gap-8">
      {
        supporters.map((supporter) => (
          <div class=" w-[500px] flex items-center justify-center">
            <img
              src={supporter.logo}
              alt={`Logo de ${supporter.name}`}
              class="max-w-full max-h-full object-contain"
            />
          </div>
        ))
      }
    </div>
  </div>
</section>

<!-- <section class="space-y-6 py-12 flex ">
  <div class="container flex justify-center text-ghost border rounded-[50px] p-8 hover:cursor-pointer hover:text-primary">
    <a>
      <p>
        
        {
          t({
            es: "¿Te gustaría apoyarnos o hablar con nosotros? ¡Hacé clic aquí para ponerte en contacto!",
            pt: "Gostaria de nos apoiar ou falar conosco? Clique aqui para entrar em contato!",
            en: "Would you like to support us or talk to us? Click here to get in touch!",
          })
        }
    
      
      </p>
    </a>
</div>
</section> -->

<section class="space-y-6 pb-12 pt-16 lg:py-28">
  <div class="container flex flex-auto flex-wrap justify-between pr-4 p-16">
    <div>
      <Image src={Astronauta} alt="Ciencia Descentralizada" />
    </div>
    <div class="max-w-[46rem]">
      <h2
        class="font-heading text-4xl font-bold sm:text-5xl md:text-6xl lg:text-4xl !leading-[1.1] text-balance pb-4"
      >
        {
          t({
            es: "¿Qué es la ciencia descentralizada?",
            en: "What is decentralized science?",
            pt: "O que é a ciência descentralizada?",
          })
        }
      </h2>
      <p
        class="leading-normal text-lg md:text-xl sm:text-xl sm:leading-8 text-balance pb-6"
      >
        {
          t({
            es: "La ciencia descentralizada es más que una tendencia; es un cambio de paradigma. Se trata de democratizar el conocimiento científico, poniéndolo al alcance de todos. En este movimiento, la colaboración global es clave, permitiendo que investigadores de todas partes contribuyan al avance del conocimiento.",
            en: "Decentralized science is more than a trend; it is a paradigm shift. It’s about democratizing scientific knowledge, making it accessible to everyone. In this movement, global collaboration is key, allowing researchers from all over the world to contribute to the advancement of knowledge.",
            pt: "A ciência descentralizada é mais do que uma tendência; é uma mudança de paradigma. Trata-se de democratizar o conhecimento científico, tornando-o acessível a todos. Neste movimento, a colaboração global é fundamental, permitindo que pesquisadores de todas as partes contribuam para o avanço do conhecimento.",
          })
        }
      </p>
    </div>

    <section class="space-y-6 pb-12 pt-16 lg:py-28 justify-center p-4">
      <div
        class="container bg-[#212739] p-10 md:p-16 rounded-[50px] flex flex-auto justify-between flex-wrap gap-5"
      >
        <div class="w-[40rem]">
          <h2
            class="font-heading text-primary text-4xl font-bold sm:text-5xl md:text-4xl lg:text-5xl !leading-[1.1] text-balance pb-4"
          >
            {
              t({
                es: "Tecnología al servicio",
                en: "Technology at your service",
                pt: "Tecnologia a serviço",
              })
            }
          </h2>
          <p
            class="text-white leading-normal md:text-xl text-lg sm:text-xl sm:leading-8 text-balance pb-6"
          >
            {
              t({
                es: "Nos apoyamos en tecnologías innovadoras como blockchain y redes distribuidas para impulsar la transparencia en todas las etapas del proceso científico. Desde la recopilación de datos hasta la publicación de resultados, buscamos asegurar la reproducibilidad de los experimentos y hallazgos científicos, sentando así las bases para un avance más sólido y confiable en la ciencia.",
                en: "We rely on innovative technologies such as blockchain and distributed networks to promote transparency at all stages of the scientific process. From data collection to the publication of results, we aim to ensure the reproducibility of experiments and scientific findings, thus laying the foundations for a more solid and reliable advancement in science.",
                pt: "Nos apoiamos em tecnologias inovadoras como blockchain e redes distribuídas para promover a transparência em todas as etapas do processo científico. Desde a coleta de dados até a publicação de resultados, buscamos garantir a reprodutibilidade dos experimentos e descobertas científicas, estabelecendo assim as bases para um avanço mais sólido e confiável na ciência.",
              })
            }
          </p>
          <div>
            <Image src={Pes} alt="Naturaleza" />
          </div>
        </div>
      </div>

      <section class="space-y-6 pb-12 pt-16 lg:py-28">
        <div
          class="container flex flex-auto flex-wrap justify-between pr-4 p-16"
        >
          <div>
            <Image src={Ciencia} alt="Ciencia" />
          </div>
          <div class="max-w-[40rem]">
            <h2
              class="font-heading text-4xl font-bold sm:text-5xl md:text-4xl lg:text-5xl !leading-[1.1] text-balance pb-4"
            >
              {
                t({
                  es: "Únete a nosotros en esta misión",
                  en: "Join us in this mission",
                  pt: "Junte-se a nós nesta missão",
                })
              }
            </h2>
            <p
              class="leading-normal md:text-xl sm:text-xl sm:leading-8 text-balance pb-6"
            >
              {
                t({
                  es: "Te invitamos a ser parte de esta revolución científica. En DesciLatam, fortalecemos a todas las comunidades, fomentando una participación activa en la investigación para beneficio de la humanidad. Juntos, podemos cambiar el mundo, un experimento a la vez.",
                  en: "We invite you to be part of this scientific revolution. At DesciLatam, we empower all communities, fostering active participation in research for the benefit of humanity. Together, we can change the world, one experiment at a time.",
                  pt: "Convidamos você a fazer parte desta revolução científica. Na DesciLatam, fortalecemos todas as comunidades, promovendo uma participação ativa na pesquisa para o benefício da humanidade. Juntos, podemos mudar o mundo, um experimento de cada vez.",
                })
              }
            </p>
          </div>

          <section class="space-y-6 pb-12 pt-16 lg:py-28 p-4">
            <div
              class="container bg-[#212739] p-8 md:p-16 rounded-[50px] flex flex-auto justify-between flex-wrap gap-5"
            >
              <div class="w-[40rem]">
                <h2
                  class="font-heading text-primary text-4xl font-bold sm:text-5xl md:text-4xl lg:text-5xl !leading-[1.1] text-balance pb-4"
                >
                  {
                    t({
                      es: "Un enfoque desde la teoría del caos",
                      en: "An approach from chaos theory",
                      pt: "Uma abordagem a partir da teoria do caos",
                    })
                  }
                </h2>
                <p
                  class="text-white leading-normal md:text-xl sm:text-xl sm:leading-8 text-balance pb-6"
                >
                  {
                    t({
                      es: "En DesciLatam, abrazamos la teoría del caos y comprendemos el poder de las pequeñas acciones en sistemas complejos. Creemos en el impacto transformador de las contribuciones individuales en el avance de la ciencia. Al igual que el aleteo de una mariposa puede desencadenar una serie de eventos que provoquen un cambio gigante en otro lugar, estamos convencidos de que cada aporte cuenta en la construcción de un futuro científico más brillante para la humanidad.",
                      en: "At DesciLatam, we embrace chaos theory and understand the power of small actions in complex systems. We believe in the transformative impact of individual contributions on the advancement of science. Just as the flapping of a butterfly's wings can trigger a series of events leading to a massive change elsewhere, we are convinced that every contribution counts in building a brighter scientific future for humanity.",
                      pt: "Na DesciLatam, abraçamos a teoria do caos e compreendemos o poder das pequenas ações em sistemas complexos. Acreditamos no impacto transformador das contribuições individuais no avanço da ciência. Assim como o bater de asas de uma borboleta pode desencadear uma série de eventos que provocam uma grande mudança em outro lugar, estamos convencidos de que cada contribuição conta na construção de um futuro científico mais brilhante para a humanidade.",
                    })
                  }
                </p>
                <div>
                  <Image src={Caos} alt="Teoría del caos" />
                </div>
              </div>
            </div>
          </section>

          <script>
            import { animate } from "motion";
            const showAnimations =
              localStorage.getItem("animations") === "true";

            if (showAnimations) {
              animate(
                ".title",
                { y: [80, 0], opacity: [0, 1] },
                {
                  duration: 2.5,
                  opacity: { duration: 3 },

                  offset: [0, 0.55, 0.75],
                }
              );
            }
          </script>
        </div>
      </section>
    </section>
  </div>
</section>
